{% load i18n %}

<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans Services %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=heart_arrow"/>

    {% load static %}
</head>
<body class="bg-[##fafbfd]">
    <nav class="between bg-gradient-to-r from-red-500 to-pink-800 p-12 text-white flex justify-between items-center px-6 py-3 shadow sticky top-0">
        <div class="flex items-center space-x-3">
            <img src="{% static 'images/Logo.png' %}" alt="WAHA Logo" class="w-12 h-12 rounded-xl">
            <a href="/dashboard" class="font-semibold text-2xl">Smart Rescue</a>
        </div>
        <ul class="flex space-x-5 text-lg">
            <li>
                <div class="flex items-center space-x-1">
                    <span class="material-icons">home</span>
                    <a href="/dashboard" class="hover:text-gray-300">{% trans "Dashboard" %}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center space-x-1">
                    <span class="material-icons">add</span>
                    <a href="/create_case" class="hover:text-gray-300">{% trans "Create Case" %}</a>
                </div>
            </li>
            {% if user.role == "volunteer" %}
            <li>
                <div class="flex items-center space-x-1">
                    <span class="material-icons">volunteer_activism</span>
                    <a href="/volunteer" class="hover:text-gray-300">{% trans "Volunteer" %}</a>
                </div>
            </li>
            {% endif %}
            <li>
                <div class="flex items-center space-x-1">
                    <span class="material-symbols-outlined">heart_arrow</span>
                    <a href="/services" class="hover:text-gray-300">{% trans "Services" %}</a>
                </div>
            </li>
            <li class="relative language-menu" onmouseenter="initLanguageMenu()">
                <div class="flex items-center space-x-1 cursor-pointer">
                    <span class="material-icons">language</span>
                    <span class="hover:text-gray-300">{% trans "Language" %}</span>
                </div>

                <ul class="dropdown absolute left-0 mt-1 hidden bg-white text-black rounded shadow-lg w-40 z-10">
                    <li>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="en">
                            <button type="submit" class="block w-full text-left px-4 py-2 hover:bg-gray-200">
                                English
                            </button>
                        </form>
                    </li>
                    <li>
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="ar">
                            <button type="submit" class="block w-full text-left px-4 py-2 hover:bg-gray-200">
                                العربية
                            </button>
                        </form>
                    </li>
                </ul>
            </li>


            <li>
                <div class="flex items-center space-x-1">
                    <span class="material-icons">info</span>
                    <a href="{% url 'about' %}" class="hover:text-gray-300">{% trans "About Us" %}</a>
                </div>
            </li>
            <li>
                <div class="flex items-center space-x-1">
                    <span class="material-icons">logout</span>
                    <a href="/logoutform" class="hover:text-gray-300">{% trans "Logout" %}</a>
                </div>
            </li>
        </ul>

    </nav>

    <main class="w-85/100 mx-auto my-10">
        <h2 class="text-2xl font-semibold text-orange-600 mb-2">{% trans "Volunteer Services" %}</h2>
        <p class="text-gray-500 mb-10">{% trans "Find and rate volunteer services in your community" %}</p>
        <section class="flex justify-between items-center mt-4 gap-8">
            <input type="text" placeholder="🔍 Search services..."
                   class="border border-gray-300 rounded-lg px-4 py-2 flex-1 focus:ring-2 focus:ring-teal-500">
            <div class="text-sm text-gray-600 space-x-4">

                <span class="bg-orange-100 text-orange-700 px-2 py-1 rounded"> <select name="category" id="">
                    <option value="">{% trans "All Categories" %}</option>
                </select></span>
                <span class="bg-orange-100 text-orange-700 px-2 py-1 rounded"> <select name="level" id="">
                    <option value="">{% trans "Rating" %}</option>
                </select></span>
            </div>
        </section>
        <div class="grid grid-cols-3 gap-10 my-10 ">
            {% for service in services %}

            <div class="rounded-lg border-1 border-gray-400 p-4 h-100">
                <div class="flex justify-between">
                    <div class="flex-col">
                        <h2 class="text-base">{{service.owner.firstname}} {{service.owner.lastname}}</h2>
                        <p class="mb-3 text-sm">{{service.type}}</p>
                        <p class="bg-[#003247] w-fit text-white rounded-lg p-1 text-xs">{{service.category}}</p>
                    </div>
                    <div class="flex-col">
                        <p>⭐⭐⭐⭐⭐</p>
                        <p class="text-xs text-gray-500">{% trans "5.0 (18 rating)" %}</p>
                    </div>
                </div>
                <div class="flex flex-col space-y-3">
                    <p class="text-base my-5">{{service.description}}</p>
                    <div class="flex items-center space-x-1">
                        <span class="material-icons text-xs">location_on</span>
                        <p>{{service.location}}</p>
                    </div>
                    <div class="flex items-center space-x-1">
                        <span class="material-icons text-xs">call</span>
                        <p>{{service.owner.phonenumber}}</p>
                    </div>
                    <div class="flex items-center space-x-1">
                        <span class="material-icons text-xs">email</span>
                        <p>{{service.owner.email}}</p>
                    </div>
                </div>
                <button class="w-full bg-[#f17e46] text-white rounded-xl p-2 mt-4 ">Contact Volunteer</button>
            </div>
            {% endfor %}
        </div>
    </main>
    <script src="{% static 'script.js' %}"></script>

</body>
</html>